



* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Courier New', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
    font-family: 'Courier New', Courier, monospace
}

nav, .nav-links {
    display: flex;
    z-index:1000;
    background-color: white;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh; /* view height */
}

.nav-links {
    gap: 2rem; /* rem = unit of measurement link pixels */
    list-style: none;
    font-size: 1.5rem 
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #97cba9; ;
    text-decoration: underline; 
    text-underline-offset: 1rem;
    text-decoration-color: #97cba9; ;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out
}

.menu-links li {
    list-style: none; /* Removes bullet point list style */
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

/* Sections */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content
}

.section-container {
    display: flex;
}

/* Profile Section */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem; 
    height: 80vh;
}

.profile-pic-container {
    display: flex;
    height: 250px;
    width: 250px;
    margin: auto 0;
}

.section-text {
    align-self: center;
    text-align: center;
}

.section-text p {
    font-weight: 600;
}

.section-text-p1 {
    text-align: center;
}

.section-text-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-2 {
    border: #97cba9 0.1rem solid;
}

.btn-color-1{
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1 {
    background: #97cba9; 
}

.btn-color-2:hover {
    background: #729980;
    color: white;
}

.btn-color-1:hover {
    background: #729980; 
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/*ABOUT SECTION*/
.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
}

#about {
    position: relative;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column; 
}

.about-container, .about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 3rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    margin-left: 2rem;
    background-color:#ddf9e6;;
    border-radius: 2rem;
    text-align: center;
}

.section-container {
    gap:4rem;
    height:80%;
}

/*EXPERIENCE*/

#experience {
    position: relative;
}

.experience-sub-title {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/*PROJECT SECTION*/

#projects {
    position: relative;
}

.color-container {
    background-color:#ddf9e6;
}

.project-img {
    border-radius: 2rem;
    width: 65%;
    height: 65%
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/*CONTACT SECTION*/

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    background-color:#ddf9e6;
    margin: 2rem;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/*FOOTER SECTION*/

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

/*New Tutorial About*/
.row {
    display: flex; /* Distributes space between the items */
  /* Aligns items vertically in the center */
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 400;
    position: relative;
}

.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: #97cba9;
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: #97cba9;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
    gap: 1rem;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 400px;
    color: black;
}

.about .about-content .about-text h3 span {
    color:#97cba9;
}

.about .about-content .about-text p {
    font-size: 15px;
    line-height: 25px;
    color: var(--text-black-700)
}

.about .about-content .education, .about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.tit {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 400;
    color: black;
}

.about .about-content .timeline-box {
    flex: 0 0 50%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color:#ddf9e6;
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 140%;
    position: relative;
    margin-bottom: 1rem;
}

.about .about-content .timeline .timeline-time {
    position: relative;
    padding-left: 37px;
    padding-bottom: 20px;
}

.about .about-content .timeline .timeline-time:last-child {
    padding-bottom: 0;
}

.inline-img {
    vertical-align: middle;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    margin-left: 5px; /* Adjust for spacing as needed */
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48,46, 77, 0.15)
}

.about .about-content .timeline::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 17px; /* Adjust left position as needed */
    top: 0;
    background-color: #97cba9;
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: -4px; /* Adjust left position to center the dot on the line */
    top: 10px; /* Adjust top position as needed */
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #729980;
    z-index: 1; /* Ensure the dots appear above the line */
}

/* Transitions */
/* figure out how this works */
a, .btn {
    transition: all 300ms ease;
}